<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery-3.3.1.js"></script>
<script>
    $(function () {
        $("#button").click(function () {
            $.post("/register",$("#form").serialize(),function (info) {
                if (info){
                    alert(info.msg);
                    location.href="index.html"
                } else {
                    alert(info.msg)
                }
            });
        });
    })
</script>
<body>
<form id="form">
    <input type="text" name="username" placeholder="username">
    <br/>
    <input type="password" name="password" placeholder="password">
    <br/>
    <input type="text" name="name" placeholder="name">
    <br/>
    <button id="button" type="button">提交</button>
</form>
</body>
</html>